<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Surround Sound</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant" rel="stylesheet">
</head>
<body>
  <div id="ostBox" class="centerBox">

    <div id="topBox">
      <h1>Your search results</h1>
        <div id="again">
          <a id="searchAgain" href="/soundtrack/">Search for another movie soundtrack</a>
        </div>
    </div>

      <div id="trackContainer">
        <h2 class="subhs">Tunes:</h2>
        <% tracks.forEach((one) => {%>
          <div class="box">
            <% if (one.name) { %>
            <details>
              <summary><%= one.name %></summary>
                <p class="deet">Artist: <%= one.artist.name %></p>
                <% if (one.scene && one.scene !== '') { %>
                <p class="deet">Scene: <%= one.scene %></p>
                <% } %>
                <% if (one.preview_url && one.preview_url !== '') { %>
                  <a class ="preview" href="<%= one.preview_url %>">Preview song</a>
                <% } %>
            </details>
                <% } %>
            <form action="/soundtrack/favorites" method="POST">
              <input type="hidden" name="name" value="<%= one.name %>">
              <input type="hidden" name="artist_name" value="<%= one.artist.name %>">
              <input type="hidden" name="scene" value="<%= one.scene %>">
              <input type="hidden" name="preview_url" value="<%= one.preview_url %>">
              <input type="submit" class="smallbtn" id="addbt" value="Add to My Collection">
            </form>
          </div>
        <% }) %>
      </div>

    <div id ="faveContainer">
        <h2 class="subhs">My Collection</h2>
          <% favorites.forEach((fave) => { %>
            <div class="fave">
              <details>
              <summary><%= fave.name %></summary>
                <p class="deet">Artist: <%= fave.artist_name %></p>
                <p class="deet">Scene: <%= fave.scene %></p>
                <p class="deet"><a href="/soundtrack/edit/<%= fave._id %>">Edit</a><p>
                <% if (fave.preview_url && fave.preview_url !== '') { %>
                  <a class ="preview" href="<%= fave.preview_url %>">Preview song</a>
                <% } %>
              </details>
              <form action="/soundtrack/favorites/<%= fave._id %>?_method=DELETE" method="POST">
                <input type="submit" class="smallbtn" id="deletebt" value="Remove from My Collection">
              </form>
            </div>
          <% }) %>
      </div>
    </div>

</body>
</html>
